*{
  margin:0px;
  padding:0px;
}

body {
  background-color: #e0b859;
  font-family: helvetica,sans-serif;
  color:#242322;

}

img{
  max-width:100%;
}

h1{
  text-transform: uppercase;
  font-size: 60px;
  font-weight:550;
  text-align:center;
}

h2{
  text-transform:uppercase;
  font-size:3.5em;
  font-weight:400;
  letter-spacing:2px;
  text-align:center;
  padding-bottom:50px;
}

h3{
  text-transform:uppercase;
  font-size:1.2em;
  font-weight:400;
  letter-spacing:2px;
  text-align:center;
}

p{
  font-weight:200;
}

ul{
  display:block;
}

li{
  list-style-type: none;
  font-weight:200;
}

.main-container{
  max-width:920px;
  width:100%;
  position:relative;
  margin:20px auto;
}

.nav-container{
  max-width:713px;
  margin:0 auto;
}

.panel{
  background-color:#e5e5e4;
  margin-bottom:20px;
}

/* Links */

a{
  text-decoration:none;
  color:#242322;
}

a:hover{
  color:#e0b859;
  text-decoration:none;
}

a.active{
  color:#e0b859;
   text-decoration:none;
}

/* Title/logo/header */

.container {
  background-color: #e5e5e4;
  margin:0 auto;
}

#logo{
  margin:auto auto;
  width:100%;
  padding-bottom:50px;
}

#title{
  padding:28px;
  margin:0 auto;
}

#comb{
  margin-right: -20px;
  margin-bottom: -25px;
}

#bee{
  margin-left: -25px;
}

/* Navigation */

#nav-menu{
  height:100px;
  text-align:center;
  border-top: solid 1px #e0b859;
}

#nav-menu .nav{
  display: inline-block;
  padding:33px 80px 26px 80px;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-weight: 400;
    margin:5px 0px;
}

#home {
  border-right:solid 1px #e0b859;
}

#shop{
  border-left:solid 1px #e0b859;
}

/* Home main body content */

.arrow{
  color:#e5e5e4;
  position: absolute;
  z-index:100;
  top:155px;
  cursor:pointer;
}

.arrow-r{
  left:5px;
}

.arrow-l{
  right:5px;
}

.main-container .slick-slider{
  margin-bottom:20px;
}

.main-container .slick-dots{
  bottom:11px;
}

.main-container .slick-dots li button::before{
  background:url('images/honeycomb-sprite.png') no-repeat 0 0px;
  width:24px;
  height:21px;
  content: "";
}

.main-container .slick-dots li button{
  background:url('images/honeycomb-sprite.png') no-repeat 0 -22px;
  width:24px;
  height:21px;
  opacity:1;
}

.main-container .slick-dots li.slick-active button:before{
  opacity:1;
}


#left-content{
  max-width:500px;
  padding:34px;
  float:left;
}

.left-text-content{
  padding:5px;
}

#right-content{
  max-width:250px;
  padding:40px 40px 14px 40px;
  float:right;
}

#bullet-title{
  border-bottom: solid 1px #e0b859;
  padding-bottom:30px;
}

.bullet{
  margin:0 0 20px 10px;
  padding-left:20px;
  line-height:20px;
  background:url(images/bulletpoint.png)no-repeat left center;
  background-position:left 0 top 4px;
}

#help-image{
  margin:30px 10px;
}

/* About main body content */

#about-panel{
  padding:10px 125.5px;
}

.farm-title{
  border-bottom: solid 1px #e0b859;
  padding: 30px 0px 5px 0px ;
  text-align:left;
}

#us{
  margin-bottom:30px;
}

.farm{
  background-color:#ededea;
  width:100%;
  height:390px;
}

#awesome-farm{
  text-align:right;
  padding:10px 83px 0px 0px;
}

.farm-detail{
  float:left;
  padding:15px;
}

.farm-description{
  padding:12px 10px;
}

.farm-description h3{
  padding-bottom:8px;
}

.farm-contact{
  padding-top: 5px;
  font-size:0.8em;
}

#opening{
  padding:8px 0;
}

#our-farmers{
  margin-top:10px;
}

.join-us{
  margin:70px auto;
}

.join{
  text-align:center;
  margin:10px;
}

.button a{
  display:block;
  height:35px;
  width:120px;
  background-color: #5f5137;
  border:1px solid #5f5137;
  border-radius: 20px;
  color: #ededea;
  text-align:center;
  font-weight:100;
  line-height: 35px;
  margin:0 auto;
}

.button a:hover{
  color:#e0b859;
  text-decoration:none;
}

.farmer-pics{
  background-color:#ededea;
  margin-top:30px;
}

.farm-container{
  display:inline-block;
  margin:16.5px;
  position:relative;
}

.overlay{
  position:absolute;
  background-color:#5f5137;
  width:130px;
  height:130px;
  top:0px;
  left:0px;
  opacity:0;
}

.overlay p{
  color: #ededea;
  text-align:center;
  font-weight:200;
  margin-top:55px;
  padding:5px;
  background-color:#5f5137;
}

.farm-container:hover .overlay {
  opacity:0.8;
}

.farm-container:hover .overlay p{
  opacity:1;
}


/*Shop main body content*/

#shop-container{
  height:580px;
  padding-right:20px;
}

#shop-container img{
  position:absolute;
  margin:45px 20px;
}

#shop-container h2{
  font-size: 2em;
  padding:10px;
  float:right;
  margin:26px 125px;
  position:relative;
  text-transform: none;
}

#shop-container h3{
  float:right;
  position:relative;
  margin:78px -281px;
  text-transform: none;
  font-weight: 100;
}

#shop-container p{
  float:right;
  width:420px;
}

.honey-description{
  margin:120px -448px;
}

.shop-description{
  margin:180px -448px;
}

.price{
  margin:280px -448px;
  font-weight: 500;
  font-size: 1.2em;
}

.cart-button{
  position: relative;
  margin:360px -447px;
  margin-bottom:0;
  text-align:center;
  padding:14px 2px;
  background-color: #000;
  color:#ededea;
  border-radius: 5px;
}

.cart-button a{
  color:#ededea;
}

.cart-button a:hover{
  color:#e0b859;
  text-decoration:none;
}


/* Find honey farm/google map */

#find-farm{
  margin:20px 0;
  padding:20px;
}

#honeyfarm-text{
  padding-bottom:80px;
}

#find-farm h3{
  border-bottom: solid 1px #e0b859;
  font-weight: 500;
  padding:10px 0 20px;
  width:400px;
  float:right;

}

#find-farm p {
  padding-top:80px;
}

#map{
  width:460px;
  height:340px;
  float:left;
  margin-right: 20px;
}

/* Footer Section */

footer{
  background-color:#5f5137;
  height:110px;
  clear:both;
}

.info{
  color:#e0b859;
  font-size: 0.7em;
  text-align:center;
  margin:0 auto;
  padding-top:2px;

}

.info a {
  color:#e0b859;
}

#contact-info{
  padding:5px;
  border-bottom: solid 1px #e0b859;
  margin-right:50px;
  margin-left:50px;
  letter-spacing:0.5px;
}

#copyright{
  color:#e0b859;
  font-size: 0.7em;
  text-align: right;
  margin-right: 60px;
  margin-top:20px;
  letter-spacing:0.5px;
}

  /* Media Queries */

@media (max-width:399px){
  .main-container{
    width:93%;
    margin:10px auto;
  }

  #left-content{
    max-width:inherit;
    float:none;
    padding:18px;
  }

  #left-content p{
    font-size:0.9em;
  }

  #right-content{
    float:none;
    max-width:inherit;
  }

  #right-content li{
    font-size: 0.9em;
  }

  h2{
    font-size:2.1em;
    padding-bottom:20px;
  }

  #help-image{
    margin:30px auto;
  }

  #logo{
    width:65%;
  }

  #title{
    font-size:3em;
    padding:10px;
  }

  #logo{
    padding-bottom:20px;
  }

  .nav-container{
    width:88%;
  }

  #nav-menu .nav{
    padding:14px 18px;
    font-size:0.7em;
  }

  #nav-menu{
    height:70px;
  }

  .main-container .fa-4x{
    font-size:2.5em;
  }

  .arrow{
    top:40px;
  }

/* About */
  #about-panel{
  padding:10px;
  }

  .farm{
  height:inherit;
  }

  #awesome-farm{
    text-align:center;
    padding:10px 0px 0px;
  }

  .farm-contact{
    font-size:0.6em;
  }

  .farm-description p{
    font-size:0.9em;
  }

  .farmer-pics{
    width:inerit;
  }

  .big-row{
    margin:0% 20%;
  }

  .small-row{
    display:inline-block;
  }

  /*Shop*/

  .panel{
    padding:10px;
  }

  #shop-container{
    height:inherit;
  }

  #shop-container h2{
  float:none;
  margin:0px;
  font-size:1.8em;
  }

  #shop-container h3{
  float:none;
  margin:0px;
  }

  #shop-container img{
  margin:0px;
  position:static;
  width:100%;
  }

  #shop-container p{
  float:none;
  width:inherit;
  text-align:center;
  font-size:0.9em;
  }

  .honey-description{
  margin:0px;
  padding:15px 5px;
  }

  .shop-description{
    margin:0px;
    padding-top:5px;
  }

  .price{
    margin:0px;
  }

  .cart-button{
    margin:0px;
    margin-top:10px;
  }

  #map{
    width:100%;
    height:300px;
    margin-bottom:15px;
  }

  #honeyfarm-text{
    padding-bottom:0px;
    font-size:0.9em;
  }

  #find-farm h3{
    padding:5px 0px;
    width:inherit;
    float:none;
  }

  #find-farm p {
    padding:15px 0px;
  }

}

@media (min-width:400px)and (max-width:579px){
  .main-container{
    width:93%;
    margin:10px auto;
  }

  #left-content{
    max-width:inherit;
    padding:20px;
    float:none;
  }

  h2{
    font-size:2.5em;
    padding-bottom:30px;
  }

  .main-container .slick-slider{
    margin:15px 0px ;
  }

  .nav-container{
  width:90%;
  }

  #logo{
    padding-bottom:10px;
  }

  #nav-menu .nav{
  padding:16px 24px;
  font-weight:300;
  }

  .arrow{
    top:50px;
  }

  .main-container .fa-4x{
    font-size:3em;
  }

/* About */
  #about-panel{
    padding:10px;
  }

  .farm{
    height:inherit;
  }

  #awesome-farm{
    text-align:center;
    padding:10px 0px 0px;
  }

  .farm-contact{
    font-size:0.6em;
  }

  .farm-description p{
    font-size:0.9em;
  }

  .farmer-pics{
    width:inerit;
  }

/*Shop*/

  .panel{
    padding:10px;
  }

  #shop-container{
    height:inherit;
  }

  #shop-container h2{
  float:none;
  margin:0px;
  font-size:1.8em;
  }

  #shop-container h3{
  float:none;
  margin:0px;
  }

  #shop-container img{
  margin:0px;
  position:static;
  width:100%;
  }

  #shop-container p{
  float:none;
  width:inherit;
  text-align:center;
  font-size:0.9em;
  }

  .honey-description{
  margin:0px;
  padding:15px 5px;
  }

  .shop-description{
    margin:0px;
    padding-top:5px;
  }

  .price{
    margin:0px;
  }

  .cart-button{
    margin:0px;
    margin-top:10px;
  }

  #map{
    width:100%;
    height:300px;
    margin-bottom:15px;
  }

  #honeyfarm-text{
    padding-bottom:0px;
  }

  #find-farm h3{
    padding:5px 0px;
    width:inherit;
    float:none;
  }

  #find-farm p {
    padding:15px 0px;
  }
}

@media (min-width:580px) and (max-width:600px){
  .main-container{
    width:95%;
    margin:10px auto;
  }

  #left-content{
    width:90%;
    padding:28px;
    float:none;
  }

  .arrow{
    top:40%;
  }

  #logo{
    padding-bottom:10px;
  }

  .nav-container{
    width:90%;
  }

  #nav-menu .nav{
    padding:25px 55px;
  }

  #title{
    padding:23px 126px;
  }

  h1{
    font-size:3.8em;
  }

/* About */
  #about-panel{
    padding:10px;
  }

  .farm{
    height:inherit;
  }

  #awesome-farm{
    text-align:center;
    padding:10px 0px 0px;
  }

  .farm-contact{
    font-size:0.6em;
  }

  .farm-description p{
    font-size:0.9em;
  }

  .farmer-pics{
    width:inerit;
  }

/*Shop*/

  .panel{
    padding:10px;
  }

  #shop-container{
    height:inherit;
  }

  #shop-container h2{
  float:none;
  margin:0px;
  font-size:1.8em;
  }

  #shop-container h3{
  float:none;
  margin:0px;
  }

  #shop-container img{
  margin:0px;
  position:static;
  width:100%;
  }

  #shop-container p{
  float:none;
  width:inherit;
  text-align:center;
  font-size:0.9em;
  }

  .honey-description{
  margin:0px;
  padding:15px 5px;
  }

  .shop-description{
    margin:0px;
    padding-top:5px;
  }

  .price{
    margin:0px;
  }

  .cart-button{
    margin:0px;
    margin-top:10px;
  }

  #map{
    width:100%;
    height:300px;
    margin-bottom:15px;
  }

  #honeyfarm-text{
    padding-bottom:0px;
  }

  #find-farm h3{
    padding:5px 0px;
    width:inherit;
    float:none;
  }

  #find-farm p {
    padding:15px 0px;
  }
}

@media (min-width:601px) and (max-width:699px){
  .main-container{
    width:96%;
    margin:20px auto;
  }

  #logo{
    padding-bottom:20px;
  }

  .nav-container{
    width:90%;
  }

  #nav-menu .nav{
    padding:33px 50px 26px 50px;
  }

  #left-content{
    float:none;
    max-width:inherit;
  }

    .arrow{
    top:36%;
  }

/* About */
  #about-panel{
    padding:10px 45px;
  }

  .farm-description p{
    font-size:0.9em;
  }

  #awesome-farm{
    padding:10px 20px 0px;
    text-align:center;
  }

  .farm{
    height:450px;
  }

  /*Shop*/

  #shop-container{
    padding:10px 80px;
    height:inherit;
  }

  #shop-container p{
    float:none;
    width:inherit;
    text-align:center;
    padding:10px 0px;
  }

  #shop-container h2{
    float:none;
    margin:0px;
  }

  #shop-container h3{
    float:none;
    margin:0px;
  }

  #shop-container img{
    width:100%;
    position:static;
    margin:0px;
  }

  .honey-description{
    margin:0px;
  }

  .shop-description{
    margin:0px;
  }

  .price{
    margin:0px;
  }

  .cart-button{
    margin:0px;
  }

   #map{
    width:100%;
    height:300px;
    margin-bottom:15px;
  }

  #honeyfarm-text{
    padding-bottom:0px;
  }

  #find-farm h3{
    padding:5px 0px;
    width:inherit;
    float:none;
  }

  #find-farm p {
    padding:15px 0px;
  }
}

@media (min-width:700px) and (max-width:914px){
  .main-container{
    width:96%;
    margin:20px auto;
  }

  #left-content{
    max-width:inherit;
    padding:34px 30px;
    float:none;
  }

  .nav-container{
    width:97%;
  }

  .arrow{
    top:40%;
  }

/*About*/
  #about-panel{
    padding:10px 30.5px;
  }

  .farm-container{
    margin:1% 1%;
  }

  .farm{
    height:450px;
  }

  #awesome-farm{
    padding:14px 0px 0px;
    text-align:center;
  }

/*Shop*/

  .shop-top{
    float:right;
    width:45%;
  }

  .shop-top p{
    margin-top:10px;
  }

  .shop-bott{
    float:right;
    width:45%;
    clear:both;
    margin-top:25px;
  }

  .honey-description{
    margin:0px;
  }

  #shop-container{
    padding-right:15px;
    height:560px;
  }

  #shop-container img{
    width:48%;
  }

  #shop-container h2{
    float:none;
    margin:0px;
  }
  #shop-container h3{
    float:none;
    margin:0px;
  }

  .shop-description{
    margin:0px;
  }

  #shop-container p{
    width:auto;
    float:none;
    padding-top:10px;
  }

  .price{
    margin:10px 0px;
  }

  .cart-button{
    margin:10px 0px;
  }

  #find-farm{
    height:420px;
  }

  #honeyfarm-text{
    width:40%;
    float:right;
    padding-bottom:0px;
  }

  #find-farm h3{
    float:none;
    width:auto;
  }

  #find-farm p{
    padding-top:30px;
  }

  #map{
    width:57%;
    margin-right:0px;
  }
}

@media (min-width:915px) and (max-width:960px){
  .main-container{
    width:98%;
    margin:20px auto;
  }

/* About */
  #awesome-farm{
    padding:14px 0px 0px;
    text-align:center;
  }

  .farm-container{
    margin:1% 1%;
  }

/*Shop*/
   .shop-top{
    float:right;
    width:45%;
  }

  .shop-top p{
    margin-top:10px;
  }

  .shop-bott{
    float:right;
    width:45%;
    clear:both;
    margin-top:35px;
  }

  .honey-description{
    margin:0px;
  }

  #shop-container{
    padding-right:15px;
    height:560px;
  }

  #shop-container img{
    width:48%;
  }

  #shop-container h2{
    float:none;
    margin:0px;
  }
  #shop-container h3{
    float:none;
    margin:0px;
  }

  .shop-description{
    margin:0px;
  }

  #shop-container p{
    width:auto;
    float:none;
    padding-top:10px;
  }

  .price{
    margin:10px 0px;
  }

  .cart-button{
    margin:10px 0px;
  }

  #find-farm{
    height:360px;
  }

  #honeyfarm-text{
    width:42%;
    float:right;
    padding-bottom:0px;
  }

  #find-farm h3{
    float:none;
    width:auto;
  }

  #find-farm p{
    padding-top:30px;
  }

  #map{
    width:55%;
    margin-right:0px;
  }
}

  .small-row {
    display: inline;
    margin: 0 auto;
    width: 331px;
}

@media (min-width:400px) and (max-width:700px){

  .small-row {
    display: block;
  }

  .big-row{
    width:auto;
  }
}

@media (min-width:700px) and (max-width:960px){
  .big-row{
  width:582px;
  margin:0 auto;
  }
}

@media (min-width:580px) and (max-width:916px){
  #right-content{
    max-width:inherit;
    float:none;
    margin:auto;
  }

  #help-image{
    float:right;
  }

  ul{
    margin-top:14px;
  }
}

@media (min-width:400px) and (max-width:579px){
  #right-content{
    max-width:inherit;
    float:none;
    margin:auto;
  }

  ul{
    margin-top:14px;
  }
}

@media (min-width:520px) and (max-width:579px){
  #help-image{
    margin:10px 22%;
  }
}

@media (min-width:400px) and (max-width:520px){
  #help-image{
    margin:10px 13%;
  }
}

/*Logo scaling*/

@media (min-width:618px) and (max-width:650px){
  #title{
    font-size:56px;
  }
}

@media (min-width:600px) and (max-width:617px){
  #title{
    font-size:53px;
  }
}

@media (min-width:510px) and (max-width:580px){
  #title{
    font-size:51px;
  }
}

@media (min-width:342px) and (max-width:509px){
  #title{
    font-size:59px;
  }
}






